* {
    padding: 0;
    margin: 0;
}

body {
    margin: 100px;
    background-color: maroon;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid white;
    padding: 24px 24px 100px 24px;
    height: 1200px;
    width: 1000px;
    box-sizing: border-box;
}

div {
    background-color: black;
    border: 3px solid white;
    margin: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

