html {
    background-color: rgb(0, 0, 0);
}
body {
    border: 3px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    text-align: center;
    padding: 20px;
    margin: 100px 700px;
    background-color: rgb(221, 202, 202)
}

div {
    border: 3px solid white;
    padding: 10px 20px;
    margin: 16px 30px;
}
